<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!--<script src="https://unpkg.com/vue"></script>-->

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script>
	Vue.component('todo-item', {
	  template: '<li>这是个待办项</li>'
	})
	</script>
</head>
<body>
<div id="app">

    <span v-bind:title="message2">{{ message }}</span><br/>
	<button v-on:click="reverseMessage">反转消息</button><br/>
	<input v-model="message"><br/>
	{{info}}
</div><br/>

<div id="app-2">
	  <span v-bind:title="message2">
		鼠标悬停几秒钟查看此处动态绑定的提示信息！
	  </span>
	  
	  <div >
		  <p v-if="seen">现在你看到我了</p>
		</div>
</div><br/>
	
<div id="app-4">
  <ol>
	<!--app4.todos.push({ text: '新项目' })  可以添加一个条目-->
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div><br/>

<ol>
  <!-- 创建一个 todo-item 组件的实例 -->
  <todo-item></todo-item>
</ol><br/>


<script>
	
	var app =new Vue({
	  el: '#app',
	  data: {
		message: 'Hello Vue.js!',
		message2: '页面加载于 ' + new Date().toLocaleString(),
		info: 'data'
	  },
	  methods: {
		reverseMessage: function () {
		  this.message = this.message.split('').reverse().join('')
		}
	  },
	  mounted () {
		axios
		  .get('https://api.coindesk.com/v1/bpi/currentprice.json')
		  .then(response => (this.info = response))
	  }
	  
	})
	
	var app2 = new Vue({
	  el: '#app-2',
	  data: {
		message: 'Hello Vue.js!',
		message2: 'app-2 页面加载于 ' + new Date().toLocaleString(),
		seen: true
	  }
	})
	
	var app4 = new Vue({
	  el: '#app-4',
	  data: {
		todos: [
		  { text: '学习 JavaScript' },
		  { text: '学习 Vue' },
		  { text: '整个牛项目' }
		]
	  }
	})
	
	
</script>
</body>
</html>