<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="https://unpkg.com/vue"></script>-->

    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script>
        Vue.component('todo-item', {
            template: '<li>这是个待办项</li>'
        })
    </script>

    <style>
        .active {
            color: blue;
        }

        .text-danger {
            background: antiquewhite;
        }

        .errorClass {

        }
    </style>
</head>
<body>
<div id="app">

    <span v-bind:title="message2">{{ message }}</span><br/>
    <button v-bind:id="dynamicId" v-bind:disabled="isButtonDisabled" v-on:click="reverseMessage">反转消息</button>
    <br/>
    <input v-model="message"><br/>

    {{ number + 1 }} <br/>

    {{ ok ? 'YES' : 'NO' }} <br/>

    <div v-bind:id="'list-' + id"> {{ message.split('').reverse().join('') }}</div>
    <br/>

</div>
<br/>

<div id="app-2">
    <span v-bind:title="message2"> 鼠标悬停几秒钟查看此处动态绑定的提示信息！ </span>

    <div>
        <p v-if="seen">现在你看到我了</p>
        <p v-else>Oh no 😢</p>
    </div>

    <p>Using v-html directive: <span v-html="rawHtml"></span></p>

    <a v-bind:href="url" target="_blank">{{address}}</a>

    <br/>
    <div v-bind:class="{ active: isActive }">active: isActive</div>

    <br/>
    <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">
        active: isActive, 'text-danger': hasError
    </div>

    <br/>
    <div v-bind:class="classObject">classObject</div>
    <br/>
    <div v-bind:class="classObject1">classObject1</div>
    <br/>
    <div v-bind:class="[activeClass, errorClass]">[activeClass, errorClass]</div>
    <br/>
    <div v-bind:class="[isActive ? activeClass : '', errorClass]">[isActive ? activeClass : '', errorClass]</div>
    <br/>
    <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">绑定内联样式</div>
    <br/>
    <div v-bind:style="styleObject">直接绑定到一个样式对象通常更好，这会让模板更清晰</div>

</div>
<br/>

<div id="app-4">
    <ol>
        <!--app4.todos.push({ text: '新项目' })  可以添加一个条目-->
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>


    <br/><br/><br/><br/><br/>
    {{info}}
</div>
<br/>

<ol>
    <!-- 创建一个 todo-item 组件的实例 -->
    <todo-item></todo-item>
</ol>
<br/>


<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            message2: '页面加载于 ' + new Date().toLocaleString(),
            dynamicId: 'id110',
            isButtonDisabled: false,
            number: 100,
            ok: true,
            id: 101,
            locks: 1
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('');
                this.ok = !this.ok;
                this.locks = (this.locks + 1) % 7;
                switch (this.locks) {
                    case 0:
                        app2.url = '';
                        app2.address = '网页地址1';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 1:
                        app2.url = '';
                        app2.address = '网页地址2';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 2:
                        app2.url = '';
                        app2.address = '网页地址3';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 3:
                        app2.url = '';
                        app2.address = '网页地址4';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 4:
                        app2.url = '';
                        app2.address = '网页地址5';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 5:
                        app2.url = '';
                        app2.address = '网页地址6';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    case 6:
                        app2.url = '';
                        app2.address = '网页地址7';
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                    default:
                        app2.isActive = !app2.isActive;
                        app2.hasError = !app2.hasError;
                        break;
                }
            }
        }

    })

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Hello Vue.js!',
            message2: 'app-2 页面加载于 ' + new Date().toLocaleString(),
            seen: true,
            rawHtml: 'Using mustaches: <span style="color: red">This should be red.</span>',
            url: 'https://github.com/ddy5529',
            address: '网页地址',
            isActive: true,
            hasError: false,
            error: null,
            classObject: {
                active: true,
                'text-danger': true,
                test: true,
                'test1': false
            },
            activeClass: 'active',
            errorClass: 'text-danger',
            styleObject: {
                color: 'red',
                fontSize: '13px'
            }
        },
        computed: {
            classObject1: function () {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: '学习 JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛项目'}
            ],
            info: 'data'
        },
        mounted() {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => (this.info = response))
        }
    })


</script>
</body>
</html>