<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-component</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	 -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

 
</head>
<body>
<div id="app">
<ol>
  <!-- 创建一个 todo-item 组件的实例 -->
  <todo-item></todo-item>
</ol><br/>


<ol>
    <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
    <mycomponent
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></mycomponent>
  </ol>
<div>


<script>
	Vue.component('todo-item', {
	  template: '<li>这是个待办项</li>'
	})
	Vue.component('mycomponent', {
		props: ['todo'],
	  template: '<li>{{ todo.text }}</li>'
	})
	
	var app2 = new Vue({
	  el: '#app',
	  data: {
		message: 'Hello Vue.js!',
		message2: 'app-2 页面加载于 ' + new Date().toLocaleString(),
		seen: true,
		groceryList: [
		  { id: 0, text: '蔬菜' },
		  { id: 1, text: '奶酪' },
		  { id: 2, text: '随便其它什么人吃的东西' }
		]
	  }
	})
	


</script>
</body>
</html>